*, *::after, *::before {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid-row::after {
	content: "";
	display: block;
	clear: both;
}

.grid-row-1::after {
	content: "";
	display: block;
	clear: both;
}

[class^='grid-col-'] {				/*content boxes*/
	float: left;
	padding: 0;
}

.grid-col-1of5 {
	width: 20%;
}

.grid-col-1of5-1 {
	width: 20%;
}

.grid-col-1of4 {
	width: 25%;
}

.grid-col-1of4-1 {
	width: 25%;
}

.grid-col-1of4-bbt {
	width: 25%;
}

.grid-col-1of3 {
	width: 33.333%;
}

.grid-col-1of2 {
	width: 50%;
}

.grid-col-1of1 {
	width: 100%;
}


@media (min-width: 48.75em) {

	.grid-col-1of5, .grid-col-2of5, .grid-col-3of5, .grid-col-4of5, .grid-col-5of5 {
		width: 20%;
	}

	.grid-col-1of5-1 {
		width: 20%;
	}

	.grid-col-1of4 {			
		width: 25%;
	}

	.grid-col-1of4-bbt {
	width: 25%;
	}

	.grid-col-1of3, .grid-col-1of3-1 {
		width: 33.333%;
	}

	.grid-col-1of2, .grid-col-2of2 {
		width: 50%;
	}

	.grid-col-1of1 {
		width: 100%;
	}
}

@media (max-width: 48.75em) {

	.grid-col-1of5, .grid-col-2of5, .grid-col-3of5, .grid-col-4of5, .grid-col-5of5 {
		width: 100%;
	}

	.grid-col-1of5-1 {
		width: 100%;
	}

	.grid-col-1of4 {			
		width: 100%;
	}

	.grid-col-1of4-bbt {
		width: 100%;
	}

	.grid-col-1of3, .grid-col-1of3-1 {
		width: 100%;
	}

	.grid-col-1of2, .grid-col-2of2 {
		width: 100%;
	}

	.grid-col-1of1 {
		width: 100%;
	}
}


