*, *::after, *::before {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "OpenSans-Light", sans-serif;
	margin: 1rem;
	font-size: 1rem;
}

h1 {
	font-size: 3rem;
	margin-bottom: 0;
	margin-top: 40px;
	text-align: center;
}

h2 {
	font-size: 2.25rem;
	margin-bottom: 0;
	width: 100%;
}

h3 {
	font-size: 1.6rem;
	margin-bottom: 0;
}

p, ol, ul {
	max-width: 40rem;
}

img {
	height: auto; 
	max-width: 100%;
	border: 1px solid black; 
}

figure {
	margin: 0;
}

a {
	color: rgb(200,0,0);
	transition: color 0.5s;
}

a:active, a:hover, a:focus {
	color: rgb(50,0,0); 
	text-decoration: none;
}

code, samp {
	display: block;
	background-color: rgb(230,230,230);
	padding: 0.5rem;
}

div#fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:10px;
}

div#fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
	text-align: center;
	font-size: 0.1rem;
}

.nav-main-item {
	display: inline-block;
	color: black;
	background-color: #FFCBA4;
	font-size: 1.10rem;
	font-weight: 600;
	padding: 0.30rem 0.9rem;
	text-decoration: none;
	transition: background-color 0.5s ease-out;
	width: 100%;
	text-align: center;
}

.bg1 {
	background-color: #FFCBA4;
}

.bg2 {
	background-color: #FFCBA4;
}

.bg3 {
	background-color: #FFCBA4;
}

.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
	color: black;
	background-color: #FFEBCD;
}

#aboutus {
	width: 90%;
	height: 300px;
	background-color: lightgray;
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: 15px;
	margin-right: 5px;
	border-radius: 15px;

	color: white;
	padding-left: 10px;
	padding-top: 20px;
}

#deals {
	width: 90%;
	height: 300px;
	background-color: lightgray;
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: 15px;
	margin-right: 5px;
	border-radius: 15px;

	color: white;
	padding-left: 10px;
	padding-top: 20px;
}

#bbt {
	width: 90%;
	height: 300px;
    background-color: lightgray;
    margin-top: 20px;
	margin-bottom: 0;
	margin-left: 15px;
	margin-right: 5px;
    border-radius: 15px;

    color: white;
	padding-left: 10px;
	padding-top: 20px;
}

#stamps {
	width: 90%;
	height: 300px;
    background-color: lightgray;
    margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 5px;
    border-radius: 15px;

    color: white;
	padding-left: 10px;
	padding-top: 20px;
}

button {
	width: 90%;
	margin-top: 45px;
	margin-bottom: 0;
	margin-left: 15px;
	margin-right: 5px;
	height: 50px;
	color: black;
	background: white;
	border-radius: 12px;
	border: 1px solid black; 
}

.button:active, .button:hover, .button:focus, {
	background-color: #FFEBCD;
	color: lightblue;
}

.button-selected{
	border: 4px solid red;
}

/**{
    outline: none;
}*/

#option1 button {
}

#option2 button {
}

#option3 button {
}

#fruit1 button {
}

#fruit2 button {
}

#fruit3 button {
}