*, *::after, *::before {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

div#fixedheader {
	position: fixed;
	background: #333;
	padding: 10px;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 99;
}

div#fixedfooter {
	position: fixed;
	background: black;
	padding: 8px;
	text-align: center;
	font-size: 0.1rem;
	color: #CCC;
	bottom: 0px;
	right: 0px;
	width: 100%;
}

/*style guide, citations, git in footer*/
footer#footer {					
	margin-bottom: 25px;
	position: fixed;
	background: black;
	padding: 5px;
	text-align: center;
	font-size: 0.6rem;
	color: white;
	bottom: 0px;
	right: 0px;
	width: 100%;
}

a#foot-1, a#foot-2, a#foot-3 {
	color: #ccc;
	transition: color 0.5s;
	text-decoration: none; 
}

a#foot-1:active, a#foot-1:hover, a#foot-1:focus, 
a#foot-2:active, a#foot-2:hover, a#foot-2:focus,
a#foot-3:active, a#foot-3:hover, a#foot-3:focus {
	color: #FFEBCD; 
	text-decoration: none;
}

body {
	font-family: "OpenSans-Light", sans-serif;
	margin: 1rem;
	font-size: 1rem;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	font-family: "HaloHandletter", cursive;
	font-size: 4rem;
	margin-bottom: 20px;
	margin-top: 40px;
	text-align: center;
	text-decoration: underline;
}

/*thank you for your order page*/
h1#thanks {														
	font-family: "HaloHandletter", Helvetica, sans-serif;
	font-size: 4rem;
	margin-bottom: 20px;
	margin-top: 120px;
	text-align: center;
	text-decoration: none;
	color: red;
}

h2 {
	font-family: "OpenSans-Light", sans-serif;
	font-size: 1.2rem;
	margin-bottom: 0;
	width: 100%;
}

h3 {
	font-size: 1rem;
	margin-bottom: 0;
}

/*h4 {
	font-size: 2rem;
	font-family: "HaloHandletter", Helvetica, sans-serif;
	margin-bottom: 0rem;
}*/

element.style {
	clear: both;
}

p, ol, ul {
	max-width: 40rem;
}

img {
	height: auto; 
	max-width: 100%;
}

figure {
	margin: 0;
}

a {
	color: rgb(200,0,0);
	transition: color 0.5s;
	text-decoration: none; 
}

a:active, a:hover, a:focus {
	color: rgb(50,0,0); 
	text-decoration: none;
}

.bplogo {
	position: relative;
	display: block;
	height: 90px; 
	width: 90px;
	margin-top: 19px;
	margin-bottom: 5px;
	margin-left: 35%;
}

/*Bag icon*/
img#bagicon {								
	width: 18px;
	height: 18px;
	margin-left: 85%;
	margin-top: 3%;
	margin-bottom: 7%;
	margin-right: 50%;
	outline: none;
}

p#bag {
	font-size: 0.7em;
	font-weight: 600;
	color: black;
	margin-left: 100%;
	margin-right: 100%;
	margin-top: -17%;
	margin-bottom: 0%;
	outline: none;
}

.nav-main-item {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	padding-top: 0.5rem;
	text-decoration: none;
	width: 100%;
	text-align: center;
	color: black;
}

.selected {													/*font color changes indicates which page your on*/
	color: #EFAE00;
}

.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
	color: #EFAE00;
}

#revealonclick {
    display: none;
}

#revealonclick:target {					/*image of bubble tea reveal on click*/
    display: inline;
}

.grid-col-1of1 {
	align-content: center;	
	width: 50%;
}

#aboutus {
	position: relative;
	width: 60%;
	height: 55%;
	background-color: #d6d8db;
	margin-top: 25px;
	margin-bottom: 50px;
	margin-left: 20%;
	margin-right: 20%;

	color: black;
	padding-left: 30px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

#notaboutus {
	width: 90%;
	height: 300px;
	background-color: none;
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: 15px;
	margin-right: 5px;
}


.Nextbutton {		
	display: inline-block;
	text-decoration: none;											/*button to click for next page in bubbletea.html*/
	font-family: "HaloHandletter", Helvetica, sans-serif;
	font-size: 2em;					
	position: right;
	margin-left: 70%;
	margin-right: 20%;
	margin-top: 30px;
	margin-bottom: 10px;
}

.Nextbutton:hover, .Nextbutton:active, {
	color: #FFEBCD;
}

.soda {
	border: none;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	height: 100%;
}

/*.sodabubble {
	border: none;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	height: 100%;
}*/

.grid-col-1of2#ordertea {
	width: 100%;
	height: 100%;
	opacity: 100; 
	margin-top: 5px;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 15%;
}


.PlaceOrder {
	display: inline-block;
	text-decoration: none;							
	font-family: "HaloHandletter", Helvetica, sans-serif;
	font-size: 2em;					
	position: right;
	margin-left: 50%;
	margin-right: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#receipt {
	font-family: "OpenSans-Semibold", sans-serif;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-size: 1.2rem;
}

#purchaseimg {
	border: none;
}

#textbox {
	width: 330px;
	height: 400px;
	margin-top: 80px;
	background-color: #d6d8db;
	font-size: 0.9em;
}

.alignleft {
	float: left;
	margin-left: 7%;
}

.alignright {
	float: right;
	margin-right: 7%;
}

.alignleft_total {
	float: left;
	margin-left: 7%;
	margin-top: 50%;
}

.alignright_total {
	float: right;
	margin-right: 7%;
	margin-top: 50%;
}

/*stamps*/
.square {						
	margin-left: 35%;
	margin-right: 5%;
	margin-top: 20%;
	width: 100px;
	height: 100px;
	border:1px solid #000;
}

.input-field1 {
	float: right;
	max-width: 50%;
	margin-left: 5%;
	margin-right: 45%;
	margin-top: 5%;
	margin-bottom: 2%;
	font-size: 0.95em;
}

.input-field2 {
	float: right;
	max-width: 50%;
	margin-left: 5%;
	margin-right: 45%;
	margin-top: 0.5%;
	margin-bottom: 2%;
	font-size: 0.95em;
}

.input-field {
	float: right;
	max-width: 50%;
	margin-left: 5%;
	margin-right: 45%;
	margin-top: 0.2%;
	margin-bottom: 2%;
	font-size: 0.95em;
}

.box {
	width: 70%;
	height: 50%;
	margin-bottom: 5%;
	margin-left: 15%;
	margin-top: 2%;
	border:1px solid gray;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
}

.checkoutnav {
	font-family:"OpenSans-Semibold", sans-serif;
	font-size: 1.2em;
	width: 100%;
	height: 80%;
	padding-left: 3%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #FFEBCD;
}

/*button to click for next page*/
.Continue {
	display: inline-block;
	text-decoration: none;							
	font-family: "HaloHandletter", Helvetica, sans-serif;
	font-size: 2em;					
	position: right;
	margin-left: 90%;
	margin-right: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.credit {
	width: 50%;
	margin-left: 5%;
	margin-top: 5%;
}

																/* Main Page */

.grid-col-1of6 {
	padding-top: 5%;
	margin-right: -80px;
	margin-left: 0px;
}

.grid-col-1of3-1 {
	padding-left: 2%;
}

.backgroundimg .image { 
   position: absolute;
   height: auto;
   margin-left: 0px;
   margin-right: 35px;
   margin-bottom: 41px;
   margin-top: 5px;
   z-index: -1;
}

.backgroundimg .innerbox {
	width: 80%;
	height: auto;
	position: absolute;
	background: rgba(0,0,0,0.6);
	padding: 20px 20px;	
	margin: 0 10%;
	margin-top: -35%;
}

@media (max-width: 48.75em) {
.backgroundimg .innerbox {
	width: 80%;
	height: auto;
	position: absolute;
	background: rgba(0,0,0,0.6);
	padding: 20px 20px;	
	margin: 0 10%;
	margin-top: -5px;
	margin-bottom: 50px;
	font-size: 0.7em; 
	}
}

p#main {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	position: relative;
	overflow: hidden; 
	width: 100%; 
	display: inline;
	color: white;
	font-size: 0.88em; 
}

														/* Featured Products */

.col-1, .col-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-2 {
    float: left;
  }
   .col-2 {
    width: 50%;
  }
}

@media (min-width: 992px) {
	.col-1 {
	float: left;
}
	.col-1 {
    width: 25%;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15%;
  margin-left: 15%;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*Text above boxes*/
.group {									
  margin-right: 0%;
  margin-left: -15%;
}

.features .section-title {
	font-family:'Lato', sans-serif;
	font-size: 30px;
	color: black;
	margin-right: 30%;
	margin-left: 30%;
	margin-top: 120px;
	margin-bottom: 25px;
	letter-spacing: 6px;
}

.features .section-padding {
    padding-bottom: 0px;
}

.feature-details .item {
    padding: 15px 15px;
}

.feature-details .col-2:first-child .item, .col-2:nth-child(2) .item, .col-2:nth-child(3) .item {
    border: 1px solid black;
    margin-bottom: 80px;
}

.feature-details .item-icon {
    font-size: 5em;
}

/*text color when hovered*/
.feature-details .item:hover {					
    color: red;
}

/*product description*/
.feature-details .item-description {			
    font-size: .8125em;
    padding-top: 12px;
    padding-bottom: 40px;
}

/*.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}*/

/*.feature-details .col-2:first-child .item:hover, .col-2:nth-child(2) .item:hover, .col-2:nth-child(3) .item:hover {
    background: #EFAE00;
}*/

/*.service-details .item:hover .item-icon,
.service-details .item:hover .item-description {
    color: #ffffff;
}*/

/*@media screen and (min-width: 901px) and (max-width: 992px) {
    .service-details .item {
        margin: 15px 0px;
    }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
    .service-details .item {
        margin: 15px 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
	.service-details .item {
        margin: 15px 0px;
    }
}

@media screen and (max-width: 767px) {
    .service-details .item {
        margin: 15px 0px;
    }
}*/


															/* Bubble Tea */

.grid-row-1 {							
	padding-left: 11%;
	padding-right: 11%;
	padding-top: 2%;
	padding-bottom: 0%;
}

.grid-col-1of4-bbt {
	margin-top: 8%;
}


#bbtpictures {
	width: 100%;
	height: 100%;
	opacity: 100; 
	margin-top: 5px;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 15%;
}

.grid-row-1 .Nextbutton {
	display: inline-block;
	text-decoration: none;											
	font-family: "HaloHandletter", sans-serif;
	font-size: 2em;					
	position: right;
	margin-left: 70%;
	margin-right: 20%;
	margin-top: 60px;
	margin-bottom: 15px;
}

button {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	width: 90%;
	height: 50px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 15%;
	color: black;
	background: white;
	border: 1.5px solid black; 
}

button:hover button:active {
  border: 2px solid red;
  outline-color: red;
}

#milk-tea, #green-tea, #red-tea, #black-tea, #juice, #soda, #coffee, #calpis, #mocktail {
	margin-top: 30px;
	margin-left: 15%;
}


															/* Toppings */

.grid-row-2 {							
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 2%;
	padding-bottom: 0%;
}

#pearls, #sugar, #ice, #jelly, #none {			
	margin-top: 12%;
	margin-right: 20%
	margin-left: 5%;
	margin-bottom: 0%;
}

#bbtpictures2 {
	width: 100%;
	height: 100%;
	opacity: 100; 
	margin-top: 5px;
	margin-left: 0%;
	margin-right: 10%;
	padding-bottom: 15%;
}

.grid-col-1of3 {
	padding-bottom: 10px;
	padding-top: 0px;
}

.grid-col-1of3 button {
	width: 80%;
	height: 50px;
	margin-left: 10%;
	margin-bottom: 0%;
	color: black;
	background: white;
	border: 1.5px solid black; 
}

/*#nonetoppings button {
	width: 70px;
	margin-top: 80px;
	margin-bottom: 0;
	margin-left: 15%;
	margin-right: 15%;
}*/

.Nextbutton_op {		
	display: inline-block;
	text-decoration: none;							
	font-family: "HaloHandletter", Helvetica, sans-serif;
	font-size: 2em;					
	position: right;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 25%;
	margin-bottom: 15%;
}

/*.milk-tea:active .img-class, .milk-tea:focus .img-class { 
	opacity: 0 
}*/

#LayoutDiv1 .press {
    display: inline-block;
}

/*.button-selected {
}*/

.images-0, .images-1, .images-2, .images-3, .images-4, .images-5, 		/*displays drink images*/
.images-6, .images-7, .images-8, .images-9, .images-10,
 .images-12, .images-13, .images-14 {
	display: none;
	border: none;
}

.active {
	display: inline;
}

																	/* Order */

.grid-row-3 {							
	padding-left: 30%;
	padding-right: 2%;
	padding-top: 3%;
	padding-bottom: 0%;
}

.grid-col-1of3-2 {
	margin-top: 10%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 25%;
	padding-right: 0%;
	padding-left: 0%;
}

#order {
	font-family: "Lato", sans-serif;
	font-size: 1.2em;
	letter-spacing: 3px;
	color: black;
	padding-top: 33px;
	padding-bottom: 8px;
	padding-left: 15px;
}

.ordertext {
	color: black;
	font-size: 0.85em;
	margin-top: 5%;
	padding-left: 15px;
	padding-right: 0px;
}

.Addtocart button {
	font-size: 0.9em;
	color: black;
	background: white;
	border: 1.5px solid black;
	display: inline-block;
	font-family: "Lato", sans-serif;
	width: 70%;
	height: 50px; 
	margin-left: 10%;
	margin-top: 30%;
}

.Addtocart button:hover {
	background-color: #1F63B5;
	color: white;
}


																	/* Contact */

.contact {					/*container*/
  position: relative;
  width: 100%;
  background: white;
  overflow: hidden;
  margin-bottom: 300px;  
}

.contact .content {
  position: relative;
  width: 900px;
/*  overflow: hidden;
*/margin: 40px auto 65px auto;
}

.contact h2 {
  font-size: 32px;
  color: black;
  text-align: center;
  margin-top: 120px;
  letter-spacing: 6px;
}

.contact .content .form {
  width: 455px;
  overflow: hidden;
  height: auto;
  float: left;
}

.contact .content .form .column {
  width: 180px;
  overflow: hidden;
  height: auto;
  float: left;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.contact .content .form .column-2 {
  width: 210px;
  padding-left: 60px;
  overflow: hidden;
  height: auto;
  float: left;
  letter-spacing: 1px;
  margin-bottom: 30px;  
}

.contact .content .form .column-3 {
  width: 450px;
  overflow: hidden;
  height: auto;
  float: left;
  letter-spacing: 1px;
}

.contact .content .contact-text {
  width: 340px;
  float: left;
  padding-left: 40px;
  color: black;
  font-size: 14px;
  overflow: hidden;
  font-weight: 400;
  line-height: 26px;
}

strong {
  font-weight: 700;
}

input {						/*name and email box*/
  width: 180px;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background: #f8f7f7;
  border: none;
  outline: none;
  color: #333;
  font-weight: 300;
  padding-left: 15px;
  margin-bottom: 10px;
}

input:focus {
	background: #ededed;
}

textarea {					/*Message box*/
  width: 420px;
  height: 150px;
  padding: 15px 0 0 15px;
  background: #f8f7f7;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
  outline: none;
  border: none;
}

textarea:focus {
	background: #ededed;
}

input.submit {			/*Send*/
  width: 100px;
  height: 34px;
  float: right;
  margin: 20px 10px 0 0;
  border: 0;
  font-weight: 800;
  text-align: right;
  background: none;
  outline: none;
 /* -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;*/
}
















															/* Style Guide */

.para {
	margin-top: 0.5rem;
}

.styleheader {
	font-family: "HaloHandletter", Helvetica, sans-serif;
	font-size: 2rem;
	margin-bottom: 0;
	width: 100%;
}

.sec2 {
	display: block;
	margin-bottom: 5rem;
}

.numbers { 
	display:block;
	color: lightgray; 
	font-family: "OpenSans-Light", sans-serif; 
}

.numbers2, .numbers3 { 
	display:block;
	color: lightgray; 
	font-family: "OpenSans-Light", sans-serif; 
	margin-top: 30px;
}

.sub { 
	font-size: 20px;
	color: black; 
	font-family: "OpenSans-Light", sans-serif; 
}

.frames {
	max-width: 100%;
}

.codebox {
	max-width: 100%;
	padding: 0.23em 0.75em;
	margin-top: -1rem;
	font-size:0.9rem;
	color: #FF0000;
	margin-top: 5px;
}

/* Styling for the navigation button */
.button-nav {
  	display: inline-block;
	font-family: "HaloHandletter", Helvetica, sans-serif;
	font-size: 2.1rem;
	font-weight: 600;
	padding-top: 0.02rem;
	text-decoration: none;
	width: 100%;
	text-align: left;
	color: black;
}

.button-nav:hover, .button-nav:focus {
  color: #FFEBCD;
}

.in-textlink{
	color: red;
	text-decoration: none;
	font-family: "HaloHandletter", Helvetica, sans-serif;
	font-size: 2em;
}

.in-textlink:hover {
	text-decoration: none;
	color: black;
}

.button-submit, .button-reset {
  display: inline-block;
	font-family: "HaloHandletter", Helvetica, sans-serif;
	font-size: 2.1rem;
	font-weight: 600;
	padding-top: 0.02rem;
	text-decoration: none;
	width: 100%;
	text-align: left;
	color: black;
}

.button-submit:hover, .button-submit:focus, 
.button-reset:hover, .button-reset:focus {
	text-decoration: none;
	color: #FFEBCD;
}

.input-field{
}

.h1-head {
	font-size: 2.5rem;
	font-family: "HaloHandletter", Helvetica, sans-serif;
	color: black;
	text-decoration: none;
}

.h2-head {
	font-size: 1.2rem;
	font-family: "OpenSans-Semibold", sans-serif;
	color: black;
	margin-left: 7%;
}

.h3-head {
	font-size: 1rem;
	font-family: "OpenSans-Semibold", sans-serif;
	color: black;
}

.bullet-list, .number-list {
	font-family: "OpenSans-Light", sans-serif;
	margin-left: 5%;
}

.p-body {
	font-family: "OpenSans-Light", sans-serif;
	margin-left: 8%;

}

div#cite {
	margin-top: 2%;
	margin-left: 5%;
	font-size: 0.8em;
}